*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1s ease;
}

body{
  font-family: helvetica;
}


.hero{
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  font-size: 4em;
  color: white;
}

.projects{
  height: 100%;
  width: 50%;
  position: fixed;
  top: 6%;
  right: 0%;
  transform: perspective(25cm) rotateX(5deg) rotateY(-20deg);
}

.projects h2{
  vertical-align: middle;
  line-height: 100px;
  transform: perspective(25cm) rotateX(-10deg) rotateY(-25deg);
  cursor: pointer;
}

.projects h2:hover{
  font-size: 2em;
}

.pro01bc{
  transition: 0.5s ease;
  object-fit: cover;
  background-repeat: no-repeat;
}

.images{
  height: 100vh;
}

.images img{
  display: none;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: left;
  animation-name: opacity;
  animation-duration: 1s;
}

.showimg{
  display: block!important;
}

@keyframes opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}
